.logo {
    display: inline-block;
    width: 80px; /* Ajuste o tamanho do logotipo conforme necessário */
    height: auto;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
  }

  header {
    background-color: #056CF2;
    padding: 20px 0;
    text-align: center;
  }

  header h1 {
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }

  .contact-button {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }

  .contact-button:hover {
    background-color: #2980b9;
  }

  nav {
    background-color: #ecf0f1;
    padding: 10px;
    text-align: center;
  }

  nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
  }

  section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
  }

  section h2 {
    color: #056CF2;
    font-size: 28px;
    margin-bottom: 20px;
  }

  section p {
    font-size: 18px;
    line-height: 1.5;
  }

  .card {
    width: 100%;
    border: none;
    margin-bottom: 20px;
  }

  .card video {
    width: 100%;
    height: auto;
  }

  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    color: #056CF2;
    margin-bottom: 5px;
  }

  .card-text {
    font-size: 16px;
  }